/* src/client/src/styles/sunset_scene.css */

body::before{
  content:"";
  position:fixed;
  inset:0;
  z-index:-3;
  background:linear-gradient(var(--sky-start),var(--sky-end));
  transition: background .6s ease; 
  pointer-events:none;
}

.dark-mode body::after {
  content:"";
  position:fixed;
  bottom: 0px;
  left:0;
  width:200%;
  height:220px;
  
  background-size:50% 100%;
  animation:wave 12s linear infinite;
  z-index:0;
  pointer-events:none;
  opacity:0.8;
}

@keyframes twinkle{
  0%,100% {opacity:.9;}
  50%     {opacity:.2;}
}

.dark-mode .star{
  position:fixed;
  width: 3px;
  height: 3px;
  background: var(--star-color);
  border-radius: 50%;
  z-index: -1;
  pointer-events: none;
  animation: twinkle 3.5s infinite ease-in-out;
  opacity: .9;
}