.image-upload-controls {
    display: flex;
    gap: 12px;
    justify-content: center;
    margin-top: 6px;
}

.delete-image-btn,
.change-image-btn,
.upload-image-btn {
    border: 1px solid;
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.2s, border-color 0.2s, color 0.2s;
}


.upload-image-btn {
  background-color: var(--upload-btn-bg);
  color: var(--text-color);
  border-color: var(--upload-btn-bg-border);
}


.upload-image-btn:hover {
  background-color: var(--upload-btn-bg-hover);
}

.change-image-btn {
  color: var(--primary);
  border-color: var(--primary);
  background-color: var(--surface-bg)
}

.change-image-btn:hover {
  background-color: var(--bg-edit-hover);
}

.delete-image-btn {
  color: var(--danger);
  border-color: var(--danger);
  background-color: var(--surface-bg);
}

.delete-image-btn:hover {
  background-color: var(--bg-delete-hover);
  border-color: var(--danger);
  color: var(--danger);
}

.auth-profile-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8px;
  position: relative;
}

.auth-profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 2px 8px var(--shadow-color);
    margin-bottom: 10px;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: var(--input-bg);  
  color: var(--text-color);
  padding: 12px 36px 12px 12px; 
  border-radius: 8px;
  border: none;
  width: 100%;
  font-size: 1rem;
  position: relative;
}

.select-wrapper {
  position: relative;
  width: 100%;
}

.select-wrapper select {
  width: 100%;
}

.select-wrapper::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 18px; 
  transform: translateY(-50%);
  pointer-events: none;
  border-width: 7px 6px 0 6px;
  border-style: solid;
  border-color: var(--text-color) transparent transparent transparent; 
}

.dark-mode input[type="date"] {
  color-scheme: dark;
  color: var(--text-color);
}

input[type="date"] {
  color-scheme: light;
  color: var(--text-color);
}

.dark-mode option {
  background: #3e3e44 !important;
  color: #cecdcd !important;
  border: 1px solid #444;
}
